.sections-container {
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;

}

section {
  /* height: 95vh;
  padding-top: 10px;
  padding-bottom: 0; 
  scroll-margin-top: 60px; */
  display: flex;
  flex-direction: column;
  padding: 0;
  scroll-margin-top: 10px;
}

.hero-section {
  padding: 1rem 0 1rem 0;

}

.about-section {
  padding: 1rem 0 1rem 0;

}

.skills-section {
  padding: 1rem 0 1rem 0;

}



@media screen and (min-width: 768px) {
  .whole-page-container {
    display: flex;
    position: relative;
    width: 100%;
  }

  .sections-container {
    margin-left: var(--whole-page-side-width);
    margin-right: var(--whole-page-side-width);
    width: calc(100% - (var(--whole-page-side-width) * 2));
  }

  section {
    padding-top: 10px;
    padding-bottom: 0;
    scroll-margin-top: 60px;
  }


  .skills-section {
    /* scroll-margin-top: 60px; */
  }

  .hero-section {
    padding: 3rem 0 3rem 0;

  }

  .projects-section {
    padding-top: 3rem;
  }

  .contact-section {
    padding-top: 3rem;
  }
}