.sections-container {
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;

}

section {
  /* height: 95vh;
  padding-top: 10px;
  padding-bottom: 0; 
  scroll-margin-top: 60px; */
  display: flex;
  flex-direction: column;
  padding: 0;
  scroll-margin-top: 10px;
}

.hero-section {
  padding: 1rem 0 1rem 0;

}

.about-section {
  padding: 1rem 0 1rem 0;

}

.skills-section {
  padding: 1rem 0 1rem 0;

}

.projects-section {
  height: 30vh;
}

.contact-section {
  height: 100vh;
}


@media screen and (min-width: 768px) {
  .sections-container {
    max-width: 85%;

    margin: 60px auto 0;
    padding: 0 24px;
    display: flex;
    flex-direction: column;

  }

  section {
    padding-top: 10px;
    padding-bottom: 0;
    scroll-margin-top: 60px;
  }

  .about-section {
    min-height: 100vh;
  }

  .skills-section {
    scroll-margin-top: 60px;
  }

}