.sections-container {
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  padding-bottom: 80px;

}

section {
  /* height: 95vh;
  padding-top: 10px;
  padding-bottom: 0; 
  scroll-margin-top: 60px; */
  display: flex;
  flex-direction: column;
  padding: 0;
  scroll-margin-top: 0px;
}

.hero-section {
  padding: 1rem 0 1rem 0;

}

.about-section {
  padding: 1rem 0 1rem 0;

}

.skills-section {
  padding: 1rem 0 1rem 0;
  min-height: 100vh;

}

.projects-section {}

.contact-section {}


@media screen and (min-width: 768px) {
  .sections-container {
    max-width: 85%;

    margin: 60px auto 0;
    padding: 0 24px;
    display: flex;
    flex-direction: column;

  }

  section {
    height: 100vh;
    padding-top: 10px;
    padding-bottom: 0;
    scroll-margin-top: 60px;
  }

  .about-section {
    min-height: 100vh;
  }

}