.profile-container {
    --background-color:
        linear-gradient(140deg, rgb(191, 236, 248) 0%,
            rgb(216, 235, 255) 33%,
            rgb(218, 220, 255) 58%,
            rgba(225, 218, 250, 0.884) 80%,
            rgb(234, 205, 253) 100%);
    --inner-width: 70%;
    --profile-picture-shadow: rgba(17, 17, 22, 0.877) 0px 0px 5px 3px;
    --box-shadow: rgba(216, 80, 98, 0.394) 0px 0px 12px 0.5px;
    --photo-shadow: rgba(15, 16, 49, 0.996) 0px 0px 10px 2px;
    --panel-width: clamp(400px, 40vw, 1200px);
    --section-background-color: rgba(255, 255, 255, 0.544);
    --section-border-radius: 7px;
}

.darkmode .profile-container {
    --background-color:
        linear-gradient(140deg,
            rgb(39, 48, 51) 0%,
            rgb(29, 41, 53) 33%,
            rgb(29, 30, 54) 58%,
            rgb(36, 30, 56) 80%,
            rgb(35, 26, 41) 100%);
    --profile-picture-shadow: rgba(200, 196, 248, 0.877) 0px 0px 5px 3px;
    --box-shadow: rgb(245, 191, 217) 0px 0px 10px 0.5px;
    --section-background-color: rgba(71, 68, 68, 0.62);
}

.desktop-only.profile-nav-container {
    display: none;
}

.profile-container {
    min-width: 100vw;
    min-height: 100dvh;
    background-image: var(--background-color);
    background-size: cover;
    background-position: center;
    /* filter: blur(0px); */
    padding-bottom: var(--bottom-bar-height);
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

.mobile-only.nav-bar.MuiBox-root {
    position: fixed;
    width: 100%;
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    left: 0;
    bottom: 0;
    padding: 0 0.9rem 0 0.9rem;
    height: var(--bottom-bar-height);
    background-color: var(--bg-color);
    box-shadow: rgb(0, 0, 0, 60%) 0 -0.6px 4.2px 0;
    z-index: 999;
}

.profile-icons-wraper {
    display: flex;
    gap: 1rem;
}


.profile-picture {
    width: 20rem;
    height: 25rem;
    aspect-ratio: 9/11;
    object-fit: cover;
    border-radius: 5px;
    margin: 0px 10px;
    box-shadow: var(--profile-picture-shadow);
}

.image-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 0.5rem;
    box-shadow: var(--box-shadow);
    backdrop-filter: blur(40px);
    border-radius: var(--section-border-radius);
    background-color: var(--section-background-color);
}

.cv-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
    gap: 20px;
    padding-top: 0.5rem;
    box-shadow: var(--box-shadow);
    backdrop-filter: blur(40px);
    border-radius: var(--section-border-radius);
    background-color: var(--section-background-color);
}

.cv-preview {
    display: flex;
    flex-direction: column;
}

.cv-uploadbutton-text-container{
    padding: 1rem 0;
    display: flex;
    justify-content: space-evenly;
}

.top-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
    padding-left: 0;
    box-shadow: var(--box-shadow);
    backdrop-filter: blur(40px);
    border-radius: var(--section-border-radius);
    background-color: var(--section-background-color);
}

.personal-info-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.title-description-container {
    gap: 1rem;
}

.personal-info-panel {
    display: flex;
    flex-direction: column;
    padding-left: 1rem;
}

.photo-panel {
    display: flex;
    flex-direction: column;
    padding-bottom: 2rem;
    align-items: end;
    contain: content;
}

.photos-grid {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.panel-wrapper {
    width: var(--panel-width);
    height: auto;
    position: relative;
}

.personal-info-panel,
.photo-panel {
    width: 100%;
    height: 100%;

}

.photo-cmp {
    display: flex;
    position: relative;
    width: calc(100% - 2rem);
    box-shadow: var(--photo-shadow);
    border-radius: 5px;
    margin: 1rem;
}

.photo {
    display: block;
    object-fit: cover;
    aspect-ratio: 4 / 3;

    width: 100%;

}

.delete-icon {
    position: absolute;
    top: 8px;
    right: 8px;
    color: white;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 50%;
    padding: 4px;
    cursor: pointer;
    z-index: 10;
}

.add-photo-form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

}

@media (min-width: 1050px) {

    .profile-container {
        flex-direction: row;
        align-items: flex-start;
        padding-top: 2rem;
        gap: 4rem;
    }

    .image-group {
        padding: 0.5rem;

    }

    .mobile-only.nav-bar.MuiBox-root {
        display: none;
    }

    .desktop-only.profile-nav-container {

        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 2rem;
        margin-left: 3rem;
        padding: 15px;
        box-shadow: var(--box-shadow);
        backdrop-filter: blur(40px);
        border-radius: var(--section-border-radius);
        background-color: var(--section-background-color);
    }

    .top-container {
        gap: 1.5rem;
        flex-direction: column;
        margin: 0;

    }

    .panel-wrapper {
        width: var(--panel-width);
        height: auto;
        position: relative;
    }

    .personal-info-panel,
    .photo-panel {

        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .personal-info-container {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
    }

    .personal-info-panel {
        width: var(--panel-width);
    }


    .photos-grid {
        display: grid;
        align-items: center;
        gap: 1rem;

        grid-template-columns: 1fr 1fr;
        contain: content;

    }

    .photo {
        object-fit: cover;
        width: 100%;
        aspect-ratio: 4/3;
    }
}