.footer-container * {
    margin: 0;
    padding: 0;
}

.footer-container {
    box-sizing: border-box;
    display: flex;
    justify-content: left;
    align-items: center;
    width: 100%;
    height: calc(var(--bottom-bar-height) * 2);
    background-image: linear-gradient(to right,
            rgba(205, 255, 216, 1) 0%,
            rgba(101, 232, 235, 1) 50%,
            rgba(188, 163, 255, 1) 100%);
    transform: translateY(-3rem);
}

.footer-name {
    align-self: center;
    font-size: 3.2rem;
    padding: 0 1rem;
    color: var(--fixed-txt-color);
}

@media (min-width: 768px) {

    .footer-container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: var(--bottom-bar-height-web);
        background-image: linear-gradient(to right,
                rgba(205, 255, 216, 1) 0%,
                rgba(101, 232, 235, 1) 50%,
                rgba(188, 163, 255, 1) 100%);
        transform: translateY(3rem);
    }
    
    .footer-container .footer-name {
        margin: auto;
    }   


}