.footer-container * {
    margin: 0;
    padding: 0;
}

.footer-container {
    box-sizing: border-box;
    display: flex;
    justify-content: left;
    align-items: center;
    width: 100%;
    height: calc(var(--bottom-bar-height) * 2);
    background-image: var(--header-background-color);
    transform: translateY(-3rem);
}

.footer-name {
    align-self: center;
    font-size: 3.2rem;
    padding: 0 1rem;
    color: var(--txt-color);
}

@media (min-width: 768px) {

    .footer-container {
        display: flex;
        isolation: isolate;
        justify-content: center;
        align-items: center;

        width: 100%;
        height: var(--bottom-bar-height-web);
        
        background-image: var(--header-background-color);
        transform: translateY(3rem);
        box-shadow: 0px 1px 16px rgb(0, 0, 0);
    }
    
    .footer-container .footer-name {
        margin: auto;
    }   


}