
:root {
    --bottom-bar-height: 3rem;
    --white-color: #FBFBFB
}

.desktop-only {
    display: none;
}

.fullname-section.mobile-only {
    font-size: 1.5rem;
    font-weight: 350;
    align-self: center;
}

.mobile-menu-overlay {
    position: fixed;
    box-sizing: border-box;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--white-color);
    z-index: 999;
    transform: translateY(100%);
}

.mobile-menu-overlay.active {
    height:calc(var(--bottom-bar-height) + 7rem ) ;
}


.bottom-trigger-bar {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 0.5rem;
    bottom: 0;
    height: var(--bottom-bar-height);
    background-color: var(--white-color);
    box-shadow: rgb(0, 0, 0, 60%) 0 -0.6px 4.2px 0;
    z-index: 100;

}

.bottom-trigger-bar .menu-toggle-btn {
    border: none;
    background-color: transparent;
    color: #6495ED;
}

.mobile-links {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.icon {
    color: #5589e9;
}

.close {
    display: flex;
    flex-direction: row;
    padding: 0 0 1rem 2rem;
}

.home-abouts-skills {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem 2rem;
}

.projects-contact-language {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem 2rem;
}



@media (min-width: 768px) {
    .mobile-only {
        display: none;
    }

    .desktop-only {
        display: block;
    }

    .header {
        background-color: #FFF9F0;
        background-image: linear-gradient(to right,
        rgba(205, 255, 216, 1) 0%,
         rgba(101, 232, 235, 1) 50%,
          rgba(188, 163, 255, 1) 100%);
        position: fixed;
        z-index: 1000;

        top: 0;
        left: 0;
        right: 0;
        height: 60px;
        /* border-bottom: 0.5px solid;
        border-image-source: linear-gradient(to right, #6495ED, #e4456c);
        border-image-slice: 1; */
        box-shadow: 0 1px 10px rgb(0, 0, 0);
    }

    .header-inner {
        max-width: 85%;
        height: 60px;
        margin: 0 auto;
        padding: 0 24px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }


    .fullname-section {
        font-size: 2rem;
        font-weight: 250;
    }

    .header-inner .right-section {
        display: flex;
        gap: 2rem;
    }

    .right-section a {
        font-size: 24px;
        text-decoration: none;
        color: black;
        font-weight: 250;
        position: relative;
        display: inline-block;
    }

    .header a::after,
    .header a::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 2px;
        bottom: -1px;
        background: linear-gradient(to right, #6495ED, #e4456c);
        left: 0;
        transform: scaleX(0);
        transform-origin: right;
        transition: transform 0.4s ease-out;

    }

    .header a::before {
        top: -1px;
        transform-origin: left;
    }

    .header a:hover::after,
    .header a:hover::before {
        transform: scaleX(1);
    }

}