.header {
    background-color: #FFF9F0;
    background-image: linear-gradient(to right, #CDFFD8, #94B9FF);;
    position: fixed;
    z-index: 1000;

    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    border-bottom: 0.5px solid  ;
    border-image-source: linear-gradient(to right, #6495ED, #e4456c);
    border-image-slice: 1;
}

.header-inner {
    max-width: 1300px;
    width: 100%;
    height: 60px;
    margin: 0 auto;
    padding: 0 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .fullname-section {
    font-size: 40px;
    font-weight: 250;
}

.header .right-section {
    display: flex;
    gap: 24px;
}

.header a {
    font-size: 24px;
    text-decoration: none;
    color: black;
    font-weight: 250;
    position: relative;
    display: inline-block;
}

.header a::after,
.header a::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -1px;
    background: linear-gradient(to right, #6495ED, #e4456c);
    left: 0;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.4s ease-out;

}

.header a::before {
    top: -1px;
    transform-origin: left;
}

.header a:hover::after,
.header a:hover::before {
    transform: scaleX(1);
}
