.desktop-only {
    display: none;
}

.fullname-section.mobile-only {
    font-size: 1.5rem;
    font-weight: 350;
    color: var(--txt-color);
    align-self: center;
    text-decoration: none;
}

.mobile-menu-overlay {
    position: fixed;
    box-sizing: border-box;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--bg-color);
    z-index: 999;
    transform: translateY(100%);
}

.mobile-menu-overlay.active {
    height: calc(var(--bottom-bar-height) + 7rem);
}


.bottom-trigger-bar {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    bottom: 0;
    padding: 0 0.9rem 0 0.9rem;
    height: var(--bottom-bar-height);
    background-color: var(--bg-color);
    box-shadow: rgb(0, 0, 0, 60%) 0 -0.6px 4.2px 0;
    z-index: 100;

}

.bottom-trigger-bar-buttons-container {
    display: flex;
    gap: 1rem;
}

.mobile-links {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.icon {
    color: var(--txt-color);
}

.close {
    display: flex;
    flex-direction: row;
    color: var(--primary-blue);
    padding: 0 0 1rem 2rem;
}

.home-abouts-skills {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem 2rem;
}

.projects-contact-language {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem 2rem;
}


.menu-toggle-btn {
    border: none;
    background-color: transparent;
    color: var(--primary-blue);
    align-self: center;
}

.color-mode-btn {
    border: none;
    background-color: transparent;
}


@media (min-width: 768px) {
    .mobile-only {
        display: none;
    }

    .desktop-only {
        display: block;
    }

    .header {
        background-color: var(--bg-color);
        background-image: var(--header-background-color);
        position: fixed;
        z-index: 1000;
        left: 0;
        right: 0;
        height: var(--header-height);
        /* border-bottom: 0.5px solid;
        border-image-source: linear-gradient(to right, #6495ED, #e4456c);
        border-image-slice: 1; */
        box-shadow: 0 1px 10px rgb(0, 0, 0);
    }

    .header-inner {
        max-width: 65%;
        height: 60px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }


    .fullname-section {
        /* font-size: clamp(12px, 2.2vw, 35px);
        font-weight: 250; */
        color: var(--txt-color);
        text-decoration: none;
        white-space: nowrap;
    }

    .header-inner .right-section {
        display: flex;
        gap: 2rem;
        justify-content: center;
        align-items: center;
    }

    .right-section a:not(.fullname-section) {
        /* font-size: clamp(12px, 2.2vw, 27px);
           font-weight: 250; */
        text-decoration: none;
        color: var(--txt-color);
        white-space: nowrap;
        position: relative;
        display: inline-block;
    }

    .header a:not(.fullname-section)::after,
    .header a:not(.fullname-section)::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 2px;
        bottom: -1px;
        background: var(--header-hover-color);
        left: 0;
        transform: scaleX(0);
        transform-origin: right;
        transition: transform 0.4s ease-out;

    }

    .header a:not(.fullname-section)::before {
        top: -1px;
        transform-origin: left;
    }

    .header a:not(.fullname-section):hover::after,
    .header a:not(.fullname-section):hover::before {
        transform: scaleX(1);
    }

}