:root {
    --bottom-bar-height: 2.2rem;
}

.desktop-only {
    display: none;
}

.fullname-section.mobile-only {
    font-size: 1.5rem;
    font-weight: 350;
}

.mobile-menu-overlay {
    position: fixed;
    left: 0;
    right: 0;
    background-color: #FFF9F0;
    z-index: 90;

    bottom: 0;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease-in-out, padding 0.4s;
    visibility: hidden;
}

.mobile-menu-overlay.active {
    visibility: visible;
    max-height: 300px;
    bottom: calc(var(--bottom-bar-height) + 20px);
}

.mobile-menu-overlay.hide {
    display: none;
}

.bottom-trigger-bar {
    position: fixed;
    width: 100%;
    display: flex;
    padding: 0.5rem;
    bottom: 0;
    height: var(--bottom-bar-height);
    background-color: #6495ED;
    border: 2px solid red;
    z-index: 100;

}

.mobile-links {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: space-evenly;
}

@media (min-width: 768px) {
    .mobile-only {
        display: none;
    }

    .desktop-only {
        display: block;
    }

    .header {
        background-color: #FFF9F0;
        background-image: linear-gradient(to right, #CDFFD8, #94B9FF);
        position: fixed;
        z-index: 1000;

        top: 0;
        left: 0;
        right: 0;
        height: 60px;
        /* border-bottom: 0.5px solid;
        border-image-source: linear-gradient(to right, #6495ED, #e4456c);
        border-image-slice: 1; */
        box-shadow: 0 1px 10px rgb(0, 0, 0);
    }

    .header-inner {
        max-width: 85%;
        height: 60px;
        margin: 0 auto;
        padding: 0 24px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }


    .fullname-section {
        font-size: 2rem;
        font-weight: 250;
    }

    .header-inner .right-section {
        display: flex;
        gap: 2rem;
    }

    .right-section a {
        font-size: 24px;
        text-decoration: none;
        color: black;
        font-weight: 250;
        position: relative;
        display: inline-block;
    }

    .header a::after,
    .header a::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 2px;
        bottom: -1px;
        background: linear-gradient(to right, #6495ED, #e4456c);
        left: 0;
        transform: scaleX(0);
        transform-origin: right;
        transition: transform 0.4s ease-out;

    }

    .header a::before {
        top: -1px;
        transform-origin: left;
    }

    .header a:hover::after,
    .header a:hover::before {
        transform: scaleX(1);
    }

}