.about-container {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.image-list-container {
    position: relative;
    max-width: 1000px;
    max-height: 600px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
}

.image-container {
    margin-left: auto;
    margin-right: auto;
}
 .image {
    width: 100%;
    height: 100%;
    box-shadow: 0 5px 20px rgb(0, 0, 0);
    border-radius: 6px;
    opacity: 1;;
    transition: opacity 0.4s ease-in-out;
    /* background-size: cover;
    -webkit-box-reflect: below 25px -webkit-linear-gradient(transparent 75%, rgba(255, 255, 255, 0.25)); */
}
.image.fade {
    opacity: 0;
}

.reflection {
    width: 100%;
    height: 100%;
    transform: scaleY(-1);
    opacity: 0.3;
    margin-top: 7px;
    border-radius: 6px;
    mask-image: linear-gradient(transparent 75%, black);
}

.leftBtn,
.rightBtn {
    cursor: pointer;
    margin-top: auto;
    margin-bottom: auto;
}

.leftBtn {
    padding-right: 10px;
}

.rightBtn {
    padding-left: 10px;
}


.image-date {
    padding-bottom: 20px;
}