.about-container {
    overflow: hidden;
    display: flex;
    flex-direction: row;
}

.carousel-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0 auto;

}

.carousel-viewport {
    overflow: hidden;
    width: calc(100%);
    margin: 0;
    padding: 0;

}

.carousel-slide {
    display: flex;
    width: 100%;
    will-change: transform;
}

.image-container {
    min-width: 100%;
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;

    padding: 20px 20px;
}


.image {
    width: 100%;
    box-shadow: 0 1px 20px rgb(0, 0, 0);
    border-radius: 6px;
    opacity: 1;
}



.image-description {
    color: var(--txt-color);
}

.image-date {
    padding-bottom: 20px;
    color: var(--txt-color);
}


@media (min-width: 768px) {

    .about-container.is-visible {
        animation: fade-bottom-up 1s;
    }

    .carousel-container {
        aspect-ratio: 16 / 9;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        animation: fade-bottom-up 1s;
    }

    .carousel-viewport {
        overflow: hidden;
        width: 90%;
        margin: 0;
        padding: 0;

    }

    .carousel-slide {
        display: flex;
        width: 100%;
    }

    .image-container {

        min-width: 100%;
        box-sizing: border-box;
        position: relative;
        display: flex;
        flex-direction: column;

        padding: 20px 40px;
        padding-bottom: 60px;
    }

    .image {
        box-shadow: 0 1px 20px rgb(0, 0, 0);
        border-radius: 6px;
        opacity: 1;
    }


    .leftBtn,
    .rightBtn {
        cursor: pointer;
        z-index: 100;
        align-self: center;
    }
    .leftBtn {
        padding-left: 0rem;
    }



}