
.contact-container {
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact-title {
    color: var(--txt-color);
}

.contact-sub-title {
    font-size: 0.9rem;
    padding-bottom: 1rem;
    color: var(--subtitle1-color);
}
