
.contact-container {
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.contact-sub-title {
    font-size: 0.9rem;
    color: rgb(0, 0, 0, 0.4);

    padding-bottom: 1rem;
}
