.hero-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* padding-top: 2rem; */
    width: 50vw;
    align-self: center;
    gap: 2rem;
    margin: var(--header-height);
}

.hero-container .top-section {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.hero-container .left-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.hero-container .message-container {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 0 0 0 2rem;
}

.hero-container .hero-title {
    color: var(--txt-color);
    font-size: 2.7rem;
}

.hero-container .hero-welcome {
    font-size: 1.1rem;
    color: var(--txt-color);
}

.hero-container .hero-description {
    font-size: 1.2rem;
    color: var(--txt-color);
}


.cv-container {
    display: inline-flex;
    height: 3.5rem;
    border-radius: 8px;
    background-image: linear-gradient(to right,
            rgba(205, 255, 216, 1) 0%,
            rgba(101, 232, 235, 1) 50%,
            rgba(188, 163, 255, 1) 100%);
    box-shadow: rgb(0, 0, 0, 60%) 0px 2px 10px 1px;
}

.hero-container a {
    display: inline-flex;
    align-items: center;
    gap: 10px;
    font-size: 25px;
    text-decoration: none;

    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 2px;
}



.hero-container .hero-cv svg {
    display: block;

}

.user-image-container {
    transform-style: preserve-3d;
    image-rendering: auto;
    position: relative;
    background-color: #333;
    overflow: hidden;
    /* flex: 0 0 300px; */
    width: 20rem;
    height: 25rem;
    border-radius: 10px;
    box-shadow: rgb(0 0 0 / 66%) 0 30px 60px 0,
        inset #333 0 0 0 5px,
        inset rgb(255 255 255 / 50%) 0 0 0 6px;
}

.user-image-container:hover {
    transition: 0.6s cubic-bezier(0.23, 1, 0.32, 1),
        box-shadow 2s cubic-bezier(0.23, 1, 0.32, 1);
    box-shadow:
        rgb(255 255 255 / 0.5) 0 0 40px 5px,
        rgb(255 255 255 / 1) 0 0 0 1px,
        rgb(0 0 0 / 0.6) 0 30px 60px 0,
        inset #333 0 0 0 5px,
        inset white 0 0 0 6px;
}

.user-image {
    opacity: 1;
    position: absolute;
    top: -50px;
    left: -50px;
    width: 115%;
    height: 115%;
    padding: 20px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transition: 1s cubic-bezier(0.445, 0.05, 0.55, 0.95),
        opacity 3s 1s cubic-bezier(0.445, 0.05, 0.55, 0.95);
    pointer-events: none;

}

.user-image-container:hover>.user-image {
    opacity: 0.9;
    transition: 0.6s cubic-bezier(0.23, 1, 0.32, 1),
        opacity 3s cubic-bezier(0.23, 1, 0.32, 1);
}



@media (min-width: 768px) {
    .hero-container {
        padding-top: 5%;
        padding-bottom: 5%;
        align-items: start;
    }

    .hero-container .top-section {
        flex-direction: row;
        justify-content: flex-start;
        align-items: stretch;
        gap: 0.2vw;
    }

    .hero-container .message-container {
        gap: 1rem;
        padding: 0;
    }

    .hero-container .left-section {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: start;
        gap: 0;
    }

    .hero-container .hero-welcome {
        font-size: clamp(2.2rem, 2.1vw, 5.5rem);
    }

    .hero-container .hero-title {
        font-size: clamp(2.2rem, 6vw, 5.5rem);
    }

    .hero-container .hero-description {
        font-size: clamp(1.1rem, 1.5vw, 2rem);
    }

    .user-image-container {
        width: 300px;
        height: 400px;
    }

    .cv-container {
        display: inline-flex;
        /* margin-top: 8.9rem; */
        height: 3.5rem;
        border-radius: 8px;
        background-image: linear-gradient(to right, #CDFFD8, #94B9FF);
    }

    .hero-container .hero-cv {
        display: inline-flex;
        align-items: center;
        gap: 10px;
        font-size: 25px;
        text-decoration: none;

        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 2px;
    }

    .user-image-container {
        transform-style: preserve-3d;
        image-rendering: auto;
        position: relative;
        background-color: #333;
        overflow: hidden;
        /* flex: 0 0 300px; */
        width: var(--hero-image-width);
        height: var(--hero-image-height);
        border-radius: 10px;
        box-shadow: rgb(0 0 0 / 66%) 0 30px 60px 0,
            inset #333 0 0 0 5px,
            inset rgb(255 255 255 / 50%) 0 0 0 6px;
        transition: 1s cubic-bezier(0.445, 0.05, 0.55, 0.95);
    }

    .user-image-container:hover {
        transition: 0.6s cubic-bezier(0.23, 1, 0.32, 1),
            box-shadow 2s cubic-bezier(0.23, 1, 0.32, 1);
        box-shadow:
            rgb(255 255 255 / 0.5) 0 0 40px 5px,
            rgb(255 255 255 / 1) 0 0 0 1px,
            rgb(0 0 0 / 0.6) 0 30px 60px 0,
            inset #333 0 0 0 5px,
            inset white 0 0 0 6px;
    }

    .user-image {
        opacity: 1;
        position: absolute;
        padding: 20px;
        width: 130%;
        height: 115%;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        transition: 1s cubic-bezier(0.445, 0.05, 0.55, 0.95),
            opacity 3s 1s cubic-bezier(0.445, 0.05, 0.55, 0.95);
        pointer-events: none;

    }

    .user-image-container:hover>.user-image {
        opacity: 0.9;
        transition: 0.6s cubic-bezier(0.23, 1, 0.32, 1),
            opacity 3s cubic-bezier(0.23, 1, 0.32, 1);
    }
}