* {
    margin: 0;
}
.project-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.project-title {
    color: var(--txt-color);
}
.project-sub-title {
    font-size: 0.9rem;
    color: var(--subtitle1-color);
}


@media (min-width: 768px) {
    .project-container.is-visible {
        animation: fade-bottom-up 1s;
    }

    .time-line {
        width: 40vw;
    }
    
}