* {
    margin: 0;
}
.skill-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.skills-sub-title {
    font-size: 0.9rem;
    color: var(--subtitle1-color);
    padding:0 0 1rem 0;
}

.accordion-container {
    display: flex;
    flex-direction: column;
    gap: 1rem
}

.accordion {
    background-color: var(--bg-color);
}

.accordion .MuiAccordionSummary-root {
  background-color: var(--bg-color);
}

.skills-text {
   color: var(--txt-color);
}