* {
    margin: 0;
}
.skill-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.skills-sub-title {
    font-size: 0.9rem;
    color: rgb(0, 0, 0, 0.4);
    padding:0 0 1rem 0;
}

.accordion-container {
    display: flex;
    flex-direction: column;
    gap: 1rem
}