* {
    margin: 0;
}

.skill-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.skills-sub-title {
    font-size: 0.9rem;
    color: var(--subtitle1-color);
    padding: 0 0 1rem 0;
}

.accordion-container {
    display: flex;
    flex-direction: column;
    gap: 1rem
}

.accordion {
    width: 70vw;
    background-color: var(--bg-color);
}

.accordion-details {
    background-color: var(--bg-color);
}

.accordion .MuiAccordionSummary-root {
    background-color: var(--bg-color);
}


.skills-item {
    color: var(--txt-color);
}

.skills-text {
    color: var(--txt-color);
}

@media (min-width: 768px) {
    .accordion {
        width: 30vw;
    }

}