html {
    scroll-behavior: smooth;
}

:root {
    --bottom-bar-height: 4rem;
    --bottom-bar-height-web: 12rem;
    --contact-text-size: 1.45rem;

    --mobile-bottom-icon-size: 1.5rem;
    --whole-page-side-width: 17vw;
    --header-height: 3.65rem;

    --hero-image-min-width: 250px;
    --hero-image-max-width: 500px;
    --hero-image--min-height: 300px;
    --hero-image--max-height: 600px;

    --bg-color: #FBFBFB;
    --txt-color: #333b3c;
    --selected-color: #6f7ac5;
    --primary-blue: #6495ED;
    --fixed-txt-color: #333b3c;
    --subtitle1-color: rgb(0, 0, 0, 0.4);
}

html.darkmode {
    --bg-color: #1a1d2a;
    --txt-color: #f6f6f6;
    --selected-color: #acf8f6;
    --primary-blue: #6495ED;
    --subtitle1-color: rgba(255, 255, 255, 0.644);
}

body {
    margin: 0;
    background-color: var(--bg-color);
    color: var(--txt-color);
    transition: background-color 0.3s ease, color 0.3s ease;

}

::-webkit-scrollbar {
    display: none;
}

@keyframes bounce1 {
    0% {
        transform: translateY(0%);
    }

    50% {
        transform: translateY(10%);
    }

    100% {
        transform: translateY(0%);
    }
}

@keyframes bounce2 {
    0% {
        transform: translateY(0%);
    }

    50% {
        transform: translateY(20%);
    }

    100% {
        transform: translateY(0%);
    }
}

@keyframes sunAnimation {
    0% {
        transform: rotate(0deg) translateY(0%);
    }
    50% {
        transform: rotate(180deg) translateY(20%);
    }
    100% {
        transform: rotate(360deg) translateY(0%);
    } 
}

@keyframes starFlipAnimation {
    0% {
        transform: translateY(0%) scaleX(-1);
    }

    50% {
        transform: translateY(20%) scaleX(-1);
    }

    100% {
        transform: translateY(0%) scaleX(-1);
    }
}

@keyframes starBlink {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(0.5);
    }
    100% {
        transform: scale(1);
    }
}