html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    background-color: white;
    /*background-image: linear-gradient(to top, #9795f0 10%, #dceeea 100%);*/
}

::-webkit-scrollbar {
    display: none;
}