html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root {
    --bottom-bar-height: 4rem;
    --bottom-bar-height-web: 12rem;
    --contact-text-size: 1.45rem;

    --mobile-bottom-icon-size: 1.5rem;
    --whole-page-side-width: 17vw;
    --header-height: 3.65rem;

    --hero-image-min-width: 250px;
    --hero-image-max-width: 500px;
    --hero-image--min-height: 300px;
    --hero-image--max-height: 600px;
    --section-padding: 7rem;

    --bg-color: #FBFBFB;
    --txt-color: #333b3c;
    --selected-color: #6f7ac5;
    --primary-blue: #6495ED;
    --fixed-txt-color: #333b3c;
    --subtitle1-color: rgb(0, 0, 0, 0.4);
    --header-background-color: linear-gradient(to right,
                rgba(205, 255, 216, 1) 0%,
                rgba(101, 232, 235, 1) 50%,
                rgba(188, 163, 255, 1) 100%);
    --header-hover-color: linear-gradient(to right, #6495ED, #e4456c);
}

html.darkmode {
    --bg-color: #1a1d2a;
    --txt-color: #f6f6f6;
    --selected-color: #acf8f6;
    --primary-blue: #6495ED;
    --subtitle1-color: rgba(255, 255, 255, 0.644);
    --header-background-color: linear-gradient(to right,
                rgb(26, 29, 42) 0%,
                rgb(26, 29, 42) 0%,
                rgb(26, 29, 42) 0%);
    --header-hover-color: linear-gradient(to right, #74e2d9, #f3a1d4);
}

body {
    margin: 0;
    background-color: var(--bg-color);
    color: var(--txt-color);
    transition: background-color 0.3s ease, color 0.3s ease;

}

::-webkit-scrollbar {
    display: none;
}

@keyframes bounce1 {
    0% {
        transform: translateY(0%);
    }

    50% {
        transform: translateY(10%);
    }

    100% {
        transform: translateY(0%);
    }
}

@keyframes bounce2 {
    0% {
        transform: translateY(0%);
    }

    50% {
        transform: translateY(20%);
    }

    100% {
        transform: translateY(0%);
    }
}

@keyframes sunAnimation {
    0% {
        transform: rotate(0deg) translateY(0%);
    }
    50% {
        transform: rotate(180deg) translateY(20%);
    }
    100% {
        transform: rotate(360deg) translateY(0%);
    } 
}

@keyframes starFlipAnimation {
    0% {
        transform: translateY(0%) scaleX(-1);
    }

    50% {
        transform: translateY(20%) scaleX(-1);
    }

    100% {
        transform: translateY(0%) scaleX(-1);
    }
}

@keyframes starBlink {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(0.5);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes fade-left-right {
    0% {
        opacity: 0;
        transform: translateX(-3.5rem);
    }

    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes fade-right-left {
    0% {
        opacity: 0;
        transform: translateX(3.5rem);
    }

    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes fade-bottom-up {
    from {
        opacity: 0;
        transform: translateY(3.5rem);
    }

    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes fade-top-bottom {
    0% {
        opacity: 0;
        transform: translateY(-3.5rem);
    }

    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes fade-in-out {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(0.7);
    }
    100% {
        transform: scale(1);
    }
    
}
